<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Let's fly!</h1>
  <nav>
    <h3>Welcome to <%= title %></h3> 
    <a href="/flights/new">Add a Flight</a>
    <a href="/flights">All Flights</a>
  </nav>
  </body>
</html>



